# === Build output ===
/build/
/out/
/bin/
/target/

# === Gradle ===
.gradle/
/gradle-app.setting

# Wrapper log files
gradle-app.log

# === IntelliJ IDEA ===
.idea/
*.iml

# === Eclipse ===
.project
.classpath
.settings/
.loadpath

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/

# === OS-specific ===
.DS_Store
Thumbs.db

# === Other ===
/src/main/resources/application.properties
/app.log
/app.log.*.gz
